#ignoring raw data (too big)
*.fastq.gz
*.fastq
*.fq.gz
*.fq
*.fna.gz
*.fna
*.fasta.gz
*.fasta
*.fa.gz
*.fa

#ignoring others
*.log
*.log.*
*.zip
*.tar
*.tsv
*.exe
pkg/
src/
temp/
work/
cache/
output/
kraken-db/
refDB/

#other GITs to ignore
Tools/chewBBACA_tutorial

