#ignoring raw data (too big)
*.fastq.gz
*.fq.gz
*.fna
*.fna.gz
*.fastq
*.fasta
*.fa

#ignoring others
*.log
*.log.*
*zip
*tar
*.exe
pkg/
src/
temp/
work/
cache/
output/
kraken-db/

#other GITs to ignore
Tools/chewBBACA_tutorial

